

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-variant: small-caps slashed-zero;
}

.recipe-block{
    padding: 40px;
    text-align: center;
    
}

.recipe1{
    background-color: #ff0000;
    border-color: #ff0000;
    color: black;
    font-weight: light;
}

.recipe2{
    background-color: #addfad;
    border-color: #addfad;
    color: black;
    font-weight: light;
}

.recipe3{
    background-color: #ffff00;
    border-color: #ffff00;
    color: black;
    font-weight: light;
}